<div th:replace="admin/shared/header"></div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>admin</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">

        <!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
                <a th:href="@{/admin/teachers}"><span class="info-box-text">Teachers</span></a>
              <span class="info-box-number" th:text="${teachcount}"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Students</span>
              <span class="info-box-number">60</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">New Users</span>
              <span class="info-box-number">12</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
          <!-- MAP & BOX PANE -->
         
          <!-- /.box -->
          <div class="row">
           
            
            <!-- /.col -->

            <div class="col-md-12">
              <!-- USERS LIST -->
              <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">Teachers</h3>

                  <div class="box-tools pull-right">
                    
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    
                  <ul class="users-list " th:each="teacher : ${teachers}">
                      <li >
                          <a th:href="@{/admin/profileId/{id}(id=${teacher.teacherId})}">
                              <img th:src="@{${teacher.teacherPicture}}" alt="User Image" style="width: 100px;height: 100px;border-radius: 50%;"/></br>
                                                         <a class="users-list-name" th:href="@{/admin/profileId/{id}(id=${teacher.teacherId})}" th:text="${teacher.teacherName}"></a>
                          </li>
                  </ul>
                        
                      <!--  <a th:href="@{/admin/profileId/one}">
                      <img th:src="@{/img/sharadchandra.jpg}" alt="User Image"/></a>
                      <a class="users-list-name" href="#">Sharad Chandra Joshi
                       
                      <span class="users-list-date">..</span></a>
                    </li>
                    <li>
                       
                            <img th:src="@{/img/sudeepshakya.jpg}" alt="User Image">
                      <a class="users-list-name" href="#">Sudeep Shakya</a>
                      <span class="users-list-date">..</span>
                    </li>
                    <li>
                            <img th:src="@{/img/anju1.jpg}" alt="User Image">
                      <a class="users-list-name" href="#">Anju Khanal</a>
                      <span class="users-list-date">..</span>
                    </li>
                    <li>
                      <img th:src="@{/img/nabin.jpg}" alt="User Image">
                      <a class="users-list-name" href="#">Nabin Neupane</a>
                      <span class="users-list-date">..</span>
                    </li>
                    <li>
                      <img th:src="@{/img/sharad.jpg}" alt="User Image">
                      <a class="users-list-name" href="#">Sharad Neupane</a>
                      <span class="users-list-date">..</span>
                    </li>
                    <li>
                      <img th:src="@{/img/resma1.jpg}" alt="User Image">
                      <a class="users-list-name" href="#">Reshma Maharjan</a>
                      <span class="users-list-date">..</span>
                    </li>
                    <li>
                      <img th:src="@{/img/maheshsingh.jpg}" alt="User Image">
                      <a class="users-list-name" href="#">Mahesh Singh Kathayat</a>
                      <span class="users-list-date">..</span>
                    </li>
                    <li>
                      <img th:src="@{/img/sudarshanadhikari.jpg}" alt="User Image">
                      <a class="users-list-name" href="#">Sudarshan Adhikari</a>
                      <span class="users-list-date">..</span>
                    </li>
                  </ul>
                  <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                  <a th:href="@{/admin/teachers}" class="uppercase">View All Teachers</a>
                  
                </div>
                <!-- /.box-footer -->
              </div>
              <!--/.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Class Routines</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Semester</th>
                    <th>Routines</th>
                 
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      
                    <td>
                      1
                    </td>
                  <td><a th:href="@{/admin/semRoutine/{id}(id=1)}">View</a></td>
                  </tr>
                <tr>
                      
                    <td>
                      2
                    </td>
                   <td><a th:href="@{/admin/semRoutine/{id}(id=2)}">View</a></td>
                  </tr>   <tr>
                      
                    <td>
                      3
                    </td>
                      <td><a th:href="@{/admin/semRoutine}">View</a></td>
                  </tr>   <tr>
                      
                    <td>
                      4
                    </td>
                   <td><a th:href="@{/admin/semRoutine}">View</a></td>
                  </tr>   <tr>
                      
                    <td>
                      5
                    </td>
               <td><a th:href="@{/admin/semRoutine}">View</a></td>
                  </tr>   <tr>
                      
                    <td>
                      6
                    </td>
                <td><a th:href="@{/admin/semRoutine}">View</a></td>
                  </tr>
                 
               
                 
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <a th:href="@{/admin/routine}" class="btn btn-sm btn-info btn-flat pull-left">Make new Routine</a>
            <a th:href="@{/admin/routine}" class="btn btn-sm btn-default btn-flat pull-right">View All Routines</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
<!--          <to do list>-->
            <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">To Do List</h3>

              <div class="box-tools pull-right">
                <ul class="pagination pagination-sm inline">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
              <ul class="todo-list" th:each="todo : ${todolist}">
                <li>
                  <!-- drag handle -->
                  <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                  <!-- checkbox -->
                  <input type="checkbox" value="" >
                  <!-- todo text -->
                  <span class="text" th:text="${todo.listNotice}"></span>
                  <!-- Emphasis label -->
                  <big class="label label-danger"><i class="fa fa-clock-o"></i><span th:text="${todo.createdDate}"></span></big>
                  <!-- General tools such as edit or delete-->
                  <div class="tools">
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-trash-o"></i>
                  </div>
                </li>
                
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border">
             <a href="javascript:void(0)">   <button type="button"  id="add-btn" class="btn btn-default pull-right"><i class="fa fa-plus"></i>Add item</button></a>
            </div>
          </div>  

<!--              </to do list>-->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="type-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="form-title">Modal title</h4>
      </div>
        <form id="type-form" th:object="${Todolist}">
      <div class="modal-body">
            <div class="form-group">
    <label for="listTitle">Notice Title</label>

    <input type="text" name="listTitle" class="form-control" id="type-noticeTitle" placeholder="Title">
    <small id="noticeHelp" class="form-text text-muted">Short Title</small>
  </div>
       <div class="form-group">
    <label for="notice">Notice Description</label>
<!--    <input type="hidden" name="listId" id="type-id" value="0L" />-->
    <input type="text" name="listNotice" class="form-control" id="type-notice" placeholder="Write notice">

  </div>
           <div class="form-group">
  


     <label for="listSem">Pick semester</label>
    <select class="form-control" name="listSem"  id="type-sem">
      <option  th:each="sem : ${semester}"><span th:text="${sem.coursesName}"></option>
    
    </select>
   
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" id="save-btn">Save changes</button>
      </div>
        </form>
    </div>
  </div>
</div>


<!--              </to do list>-->
          
<!--        <calender>-->
<!--            <div class="box box-info">
             <div class="box-header with-border">
              <h3 class="box-title">Today's Date</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>   
            <div class='calendar'>
                <div class='date-header'>
                    <span id='prev' class='time-skip'>prev</span>
                    <div class='year-month'>
                        <span class='month'></span>
                        <span class='year'></span>
                    </div>
                    <span id='next' class='time-skip'>next</span>
                </div>
                <table class='days-body'>
                    <thead>
                        <tr class='days-row'>
                            <th>Sun</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                        </tr>
                    </thead>
                    <tbody class='calendar-days'></tbody>
                </table>
                <form class='select-date'>
                    <label for='month'>Go To: </label>
                    <select name='month' id='month'>
                        <option value=0>Jan</option>
                        <option value=1>Feb</option>
                        <option value=2>Mar</option>
                        <option value=3>Apr</option>
                        <option value=4>May</option>
                        <option value=5>Jun</option>
                        <option value=6>Jul</option>
                        <option value=7>Aug</option>
                        <option value=8>Sep</option>
                        <option value=9>Oct</option>
                        <option value=10>Nov</option>
                        <option value=11>Dec</option>
                    </select>
                    <input type='number' min='1' id='year'>
                </form>
            </div>
                </div>-->


          
        </div>
        <!-- /.col -->

        <div class="col-md-4">
          <!-- Info Boxes Style 2 -->
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="fa fa-book"></i></span>

            <div class="info-box-content">
                <a th:href="@{/admin/courses}"  style="text-decoration: none;color:white;"><span class="info-box-text">Courses</span></a>
              <span class="info-box-number" th:text="${cocount}"></span>

              <div class="progress">
                <div class="progress-bar" style="width: 50%"></div>
              </div>
             
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-book"></i></span>

            <div class="info-box-content">
                
                <a th:href="@{/admin/subjects}" style="text-decoration: none;color:white;"><span class="info-box-text">Subjects</span></a>
              <span class="info-box-number" th:text="${subcount}"></span>

              <div class="progress">
                <div class="progress-bar" style="width: 20%"></div>
              </div>
        
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
       
          <!-- /.info-box -->
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>

             <div class="info-box-content">
              <span class="info-box-text">Feedbacks</span>
              <span class="info-box-number" th:text="${count}"></span>

              <div class="progress">
                <div class="progress-bar" style="width: 40%"></div>
              </div>
          
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->

          
          <!-- /.box -->

          <!-- PRODUCT LIST -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Recent Feedbacks</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="products-list product-list-in-box">
                  <div th:each="msg: ${msges}">
                        
                      <span th:if="${msg.fromuser}!=${cuser}">
              <li class="item">
                  <div class="product-img">
                    <img th:src="@{/img/default-50x50.gif}" alt="Product Image">
                  </div>
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title" th:text="${msg.fromuser}"> 
                     </a>
                    <span class="product-description" th:text="${msg.msgTxt}">
                        
                        </span>
                  </div>
                           </li><br>
                      </span>
                       
                  </div>
                   </ul>
                  </div>
                
                <!-- /.item -->
                  </div>
                <!-- /.item -->
            
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <a href="/messages" class="uppercase">View All Feedbacks</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
<!--          <calender>-->
              <div id='calendar-wrap' class='calendar-wrap'>
	</div>
<!--          </calender>-->
          
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <script>
    $(document).ready(function(){
        $("#add-btn").on('click',function(){
            $("#type-dialog #form-title").html("Add Notice");
            $("#type-dialog").modal();
        });
        $("#save-btn").on('click',function(){
            $.post('/admin/savenotice',
            $("#type-form").serialize(),function(res){
                location.href="/admin";
                $("#type-dialog").modal('hide');
            });
            return false;
        });
    });
    </script>


  <div th:replace="admin/shared/footer"></div>