<div th:replace="admin/shared/header3"></div>
<!--<link href ="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href ="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"/>
<script src="/webjars/jquery/1.12.4/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Content Wrapper. Contains page content -->



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>user</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <!--                    <h2>Profile</h2>-->

        <div class="row">
            <!--                    <h2>Profile</h2>-->



                <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">  <h4 th:each="sub:${subject}" >Subject: <span th:text="${sub.subjectName}"></span></h4></div>
                        <div class="panel-body">

                            <div class="box box-info">

                                <div class="box-body">
                                    <div class="col-sm-12">
                                       
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                  
                                                    <th>Teacher Name</th>
                                                    <th>Teacher Email</th>
                                                    <th>Teacher Contact</th>
                                                   
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="teacher : ${teacher}">
                                                   
                                                    <td><span th:text="${teacher.teacherName}"></span></td>
                                                    <td><span th:text="${teacher.teacherEmail}"></span></td>

                                                    <td><span th:text="${teacher.teacherContact}"></span></td>
                                                    
                                                   
                                                </tr>
                                            </tbody>
                                        </table>


                                        <!-- /input-group -->
                                    </div>



                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">




                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->

                            </div>
                        </div>


                    </div> 
                </div>
            </div>  
            <script>
                $(function () {
                    $('#profile-image1').on('click', function () {
                        $('#profile-image-upload').click();
                    });
                });
            </script> 

            <!----------------------------------------------------<sidebar>-----------              -->



            <!--<-----------------------------------------------------</sidebar>-----------------      -->






        </div>
    </section>
</div>

<div th:replace="admin/shared/footer"></div>